---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/IEconDOTA2_570/GetGameItems/v0001?key=0DC019442063EB9914488A0AF8ABE9D9&language=en_us
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"result\": {\n\t\t\"items\": [\n\t\t\t{\n\t\t\t\t\"id\": 1,\n\t\t\t\t\"name\":
        \"item_blink\",\n\t\t\t\t\"cost\": 2250,\n\t\t\t\t\"secret_shop\": 0,\n\t\t\t\t\"side_shop\":
        1,\n\t\t\t\t\"recipe\": 0,\n\t\t\t\t\"localized_name\": \"Blink Dagger\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"id\":
        2,\n\t\t\t\t\"name\": \"item_blades_of_attack\",\n\t\t\t\t\"cost\": 420,\n\t\t\t\t\"secret_shop\":
        0,\n\t\t\t\t\"side_shop\": 1,\n\t\t\t\t\"recipe\": 0,\n\t\t\t\t\"localized_name\":
        \"Blades of Attack\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"id\": 3,\n\t\t\t\t\"name\":
        \"item_broadsword\",\n\t\t\t\t\"cost\": 1200,\n\t\t\t\t\"secret_shop\": 0,\n\t\t\t\t\"side_shop\":
        1,\n\t\t\t\t\"recipe\": 0,\n\t\t\t\t\"localize[...]
[...]
