---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/IDOTA2Match_570/GetMatchHistory/V001?key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Sat, 19 Mar 2016 11:37:28 GMT
    body:
      encoding: UTF-8
      string: "{\n\t\"result\": {\n\t\t\"status\": 1,\n\t\t\"num_results\": 100,\n\t\t\"total_results\":
        500,\n\t\t\"results_remaining\": 400,\n\t\t\"matches\": [\n\t\t\t{\n\t\t\t\t\"match_id\":
        2233484164,\n\t\t\t\t\"match_seq_num\": 1958686385,\n\t\t\t\t\"start_time\":
        1458387219,\n\t\t\t\t\"lobby_type\": 0,\n\t\t\t\t\"radiant_team_id\": 0,\n\t\t\t\t\"dire_team_id\":
        0,\n\t\t\t\t\"players\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"account_id\": 4294967295,\n\t\t\t\t\t\t\"player_slot\":
        0,\n\t\t\t\t\t\t\"hero_id\": 0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"account_id\":
        4294967295,\n\t\t\t\t\t\t\"player_slot\": 1,\n\t\t\t\t\t\t\"hero_id\": 0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"account_id\":
        210723266,\n\t\t\t\t\t\t\"player_slot\": 2,\n\t\t\t\t\t\t\"hero_id\": 0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"account_id\":
        4294967295,\n\t\t\t\t\t\t\"player_slot\": 3,\n\t\t\t\t\t\t\"hero_id\": 0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"account_id\":
        4294967295,\n\t\t\t\t\t[...]
