---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/IDOTA2Match_570/GetMatchDetails/V001?key=<API_KEY>&match_id=2233484164
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Sat, 19 Mar 2016 11:33:39 GMT
    body:
      encoding: UTF-8
      string: |-
        {
        "result":{
        "players":[
        {
        "account_id":4294967295,
        "player_slot":0,
        "hero_id":0,
        "item_0":0,
        "item_1":0,
        "item_2":0,
        "item_3":0,
        "item_4":0,
        "item_5":0,
        "kills":0,
        "deaths":0,
        "assists":0,
        "leaver_status":1,
        "last_hits":0,
        "denies":0,
        "gold_per_min":1799,
        "xp_per_min":0,
        "level":0,
        "hero_damage":0,
        "tower_damage":0,
        "hero_healing":0,
        "gold":0,
        "gold_spent":0,
        "scaled_hero_damage":0,
        "scaled_tower_damage":0,
        "scaled_hero_healing":0
        },
        {
        "account_id":4294967295,
        "player_slot":1,
        "hero_id":0,
        "item_0":0,
        "item_1":0,
        "item_2":0,
        "item_3":0,
        "item_4":0,
        "item_5":0,
        "kills":0,
        "deaths":0,
        "assists":0,
        "leaver_status":3,
        "last_hits":0,
        "denies":0,
        "gold_per_min":1799,
        "xp_per_min":0,
        "level":0,
        "hero_damage":0,
        "tower_damage":0,
        "hero_healing":0,[...]
