---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/IDOTA2Match_570/GetMatchDetails/V001?key=<API_KEY>&match_id=2233484164
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Sat, 19 Mar 2016 11:33:39 GMT
    body:
      encoding: UTF-8
      string: "{\n\t\"result\": {\n\t\t\"players\": [\n\t\t\t{\n\t\t\t\t\"account_id\":
        4294967295,\n\t\t\t\t\"player_slot\": 0,\n\t\t\t\t\"hero_id\": 0,\n\t\t\t\t\"item_0\":
        0,\n\t\t\t\t\"item_1\": 0,\n\t\t\t\t\"item_2\": 0,\n\t\t\t\t\"item_3\": 0,\n\t\t\t\t\"item_4\":
        0,\n\t\t\t\t\"item_5\": 0,\n\t\t\t\t\"kills\": 0,\n\t\t\t\t\"deaths\": 0,\n\t\t\t\t\"assists\":
        0,\n\t\t\t\t\"leaver_status\": 1,\n\t\t\t\t\"last_hits\": 0,\n\t\t\t\t\"denies\":
        0,\n\t\t\t\t\"gold_per_min\": 1799,\n\t\t\t\t\"xp_per_min\": 0,\n\t\t\t\t\"level\":
        0,\n\t\t\t\t\"gold\": 0,\n\t\t\t\t\"gold_spent\": 0,\n\t\t\t\t\"hero_damage\":
        0,\n\t\t\t\t\"tower_damage\": 0,\n\t\t\t\t\"hero_healing\": 0\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"account_id\":
        4294967295,\n\t\t\t\t\"player_slot\": 1,\n\t\t\t\t\"hero_id\": 0,\n\t\t\t\t\"item_0\":
        0,\n\t\t\t\t\"item_1\": 0,\n\t\t\t\t\"item_2\": 0,\n\t\t\t\t\"item_3\": 0,\n\t\t\t\t\"item_4\":
        0,\n\t\t\t\t\"item_5\": 0,\n\t\t\t\t\"kills\": 0,\n\t\t\t\t\"deaths\": 0,\n\t\t\t\t\"assists\":
        0,\n\t\t\t\t\"leaver_status\": 3,\n\t\t\t\t\"last_hits\": 0,\n\t\t\t\t\"denies\":
        0,\n\t\t\t\t\"gold_per_min\": 1799,\n\t\t\t\t\"xp_pe[...]
