---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/IDOTA2Match_570/GetMatchHistory/V001?key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Sun, 11 Dec 2016 11:57:21 GMT
    body:
      encoding: UTF-8
      string: |-
        {
        "result":{
        "status":1,
        "num_results":100,
        "total_results":500,
        "results_remaining":400,
        "matches":[
        {
        "match_id":2838307382,
        "match_seq_num":2476457813,
        "start_time":1481457257,
        "lobby_type":0,
        "radiant_team_id":0,
        "dire_team_id":0,
        "players":[
        {
        "account_id":144783567,
        "player_slot":0,
        "hero_id":44
        },
        {
        "account_id":86855746,
        "player_slot":1,
        "hero_id":22
        },
        {
        "account_id":124388712,
        "player_slot":2,
        "hero_id":102
        },
        {
        "account_id":125463798,
        "player_slot":3,
        "hero_id":97
        },
        {
        "account_id":140374036,
        "player_slot":4,
        "hero_id":60
        },
        {
        "account_id":136790199,
        "player_slot":128,
        "hero_id":53
[...]
