---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/GetPlayerSummaries/v0002?key=0DC019442063EB9914488A0AF8ABE9D9&steamids=76561197997499174
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"response\": {\n\t\t\"players\": [\n\t\t\t{\n\t\t\t\t\"steamid\":
        \"76561197997499174\",\n\t\t\t\t\"communityvisibilitystate\": 3,\n\t\t\t\t\"profilestate\":
        1,\n\t\t\t\t\"personaname\": \"Kazooie\",\n\t\t\t\t\"lastlogoff\": 1455998692,\n\t\t\t\t\"commentpermission\":
        1,\n\t\t\t\t\"profileurl\": \"http://steamcommunity.com/id/fdzatone/\",\n\t\t\t\t\"avatar\":
        \"https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fa/fa3c7d96ba6f8dc9d7b0820befcd83d53bb3208a.jpg\",\n\t\t\t\t\"avatarmedium\":
        \"https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fa/fa3c7d96ba6f8dc9d7b0820befcd83d53bb3208a_medium.jpg\",\n\t\t\t\t\"avatarfull\":
        \"https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fa/fa3c7d96ba6f8dc9d7b0820befcd83d53bb3208a_full.jpg\",\n\t\t\t\t\"personastate\":
        0,\n\t\t\t\t\"primaryclanid\": \"103582791431066484\",\n\t\t\t\t\"timecreated\":
        1206223343,\n\t\t\t\t\"personastateflags\": 0,\n\t\t\t\t\"loccountrycode\":
        \"ES\",\n\t\t\t\t\"locstatecode\": \"51\"\n\t\t\t}\n\t\t]\n\t\t\n\t}\n}"
  recorded_at: Sun, 21 Feb 2016 10:00:18 GMT
[...]
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/GetPlayerSummaries/v0002?key=&steamids=76561197997499174
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<html><head><title>Forbidden</title></head><body><h1>Forbidden</h1>Access
        is denied. Retrying will not help. Please verify your <pre>key=</pre> parameter.</body></html>"
  recorded_at: Fri, 11 Mar 2016 19:01:25 GMT
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/GetPlayerSummaries/v0002?key=0DC019442063EB9914488A0AF8Aasdf&steamids=76561197997499174
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<html><head><title>Forbidden</title></head><body><h1>Forbidden</h1>Access
        is denied. Retrying will not help. Please verify your <pre>key=</pre> parameter.</body></html>"
  recorded_at: Fri, 11 Mar 2016 19:05:17 GMT
recorded_with: VCR 3.0.1
